# backend/.env
MONGO_URI=mongodb://127.0.0.1:27017/thefolio
JWT_SECRET=thefolio_super_secret_key_change_this
PORT=5000
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here